.acc-button{
  text-align: center;
  margin: 2em 0 1em 0;
  padding: 1em 5em;
  cursor: pointer;
  color: #ff7f00;
  background: white url('../images/acc-arrow.png') 85% center no-repeat;
  box-shadow: none;
  border:none;
  animation: arrow-move 1s infinite;
}

.apple-store,.google-play{
  cursor: pointer;
  margin-bottom: 20px;
  width: 80%;
}
