@import 'animations';
@import "fonts";
@import "buttons";

html,body{
  padding: 0;
  margin: 0;
  min-width: 100%;
}

.slideIcon{
  position: fixed;
  width:50px;
  height: 50px;
  top: 3%;
  right: 3%;
  animation: slide-move 2s linear infinite;
  z-index: 999999;
}
//Background classes
.bg-primary{
  background: url('../images/bg-primary.jpg') center center no-repeat fixed;
  background-size: cover;
}
.bg-color{
  background-color: #ff7f00;
  color: white;
}
.bg-custom{
  background: url('../images/bg-custom2.jpg') center center no-repeat;
  background-size: cover;
  color: white;
}

body{
  figure{
    margin:0;
    width: 50%;
    position: relative;
  }
  section{
    width: 100%;
    position: relative;
    .text-content{
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .flex-container{
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      position: relative;
      &.contSkew{
        transform: skew(0, -10deg);
      }
    }
    .number{
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: black;
      background-clip: content-box;
      border: 1px solid black;
      margin:0;
      margin-bottom: 0.5em;
      padding: 5px;
      color: white;
    }
    &.panel-01{
      padding: 20px 0 0 0;
      .text-content{
        width: 50%;
      }
      figure{
        width:50%;
        height: auto;
        margin: 0 auto;
        position: relative;
        .telePic{
          width: 100%;
        }
      }
      .actual-app{
        transform: skew(0,10deg);
        position: relative;
        z-index: 500;
        margin: -15% 0;
        color: white;
        padding-top: 12%;
        padding-bottom: 10%;
        .content{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 0 5%;
          transform: skew(0, -10deg);
          .paragraph-primary{
            text-align: left;
            margin-bottom: 0;
            .highlight{
              background-color: #ffab57;
              padding: 0 5px 0 5px;
              //animation: highlight 1s infinite;
            }
          }
        }
      }
    }
    &.panel-02{
      .your-price{
        padding-top: 10%;
        padding-bottom: 10%;
        figure{
          width: 50%;
          position: relative;
          z-index: 600;
          .telePic{
            width: 100%;
          }
        }
        .text-content{
          justify-content: center;
          width: 50%;
        }
      }
      .scan-code{
        position: relative;
        z-index: 700;
        margin: -15% 0;
        padding: 10% 0;
        transform: skew(0, 10deg);
        .content{
          transform: skew(0, -10deg);
          .text-content{
            justify-content: flex-start;
            padding-bottom: 20px;
            width: 40%;
            .number{
              margin-bottom: 10px;
              color: black;
              background-color: white;
              border-color: white;
            }
          }
          figure{
            bottom: -20px;
            width: 60%;
            .tele-pic02{
              width: 100%;
            }
          }
        }
      }
    }
    &.panel-03{
      margin: -15% 0;
      overflow: hidden;
      position: relative;
      z-index: 800;
      transform: skew(0, 10deg);
      .flex-container{
        transform: skew(0, -10deg);
        flex-direction: column;
        padding: 0;
        padding-top: 10%;
        .text-content{
          .number{
            color: #ff7f00;
            background-color: white;
            border-color: white;
          }
          p:last-child{
            margin-bottom:0;
          }
        }
      }
      img{
        position: relative;
        bottom: -1em;
        width: 100%;
      }
    }
    &.panel-04{
      overflow:hidden;
      padding-top: 30%;
      .text-content{
        width: 40%;
      }
      figure{
        width: 60%;
        position: relative;
        z-index:4;
        .tele-pic04{
          position: relative;
          right: -100%;
          opacity: 0;
          width:100%;
        }
      }
      .end-wish{
        position: relative;
        bottom: 80px;
        padding: 80px 0 60px 0;
        background-color: #ff7f00;
        transform: skew(0,10deg);
        z-index:2;
        .flex-container{
          flex-direction: column;
          align-items:center;
          h1{
            color: white;
          }
        }
      }
    }
  }
}

@import "media";
